body {
    background-color: #0C0B0B;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    margin: 128px;
    background-color: rgb(255, 255, 255);
    padding: 64px;
    border:1px solid blue;
    box-sizing: border-box;
}


@media screen and (max-width: 120px) {
    .login-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 16px;
        background-color: rgb(197, 197, 197);
        padding: 16px;
        border-radius: 32px;
    }
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #0C0B0B;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #0C0B0B;
}

.login-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-field {
    display: flex;
    flex-direction: column;
}